body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
}

.controls {
    text-align: center;
    margin-bottom: 25px;
}

.cell {
    width: 95px;
    height: 95px;
    gap: 7px; /* Einheitliche Lücken zwischen den Zellen */
    background-color: #fff;
    border: 1px solid #bbb; /* Einheitliche Ränder */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    box-sizing: border-box; /* Stellt sicher, dass die Ränder innerhalb der Zelle bleiben */
}

.board {
    display: grid;
    gap: 0; /* Entfernt zusätzliche Lücken zwischen den Zellen */
    background-color: #444;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    border: 1px solid #444; /* Einheitlicher äußerer Rand */
}

.cell:hover {
    background-color: #f9f9f9;
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Leichter Schatten beim Hover */
}

.cell img {
    width: 70%;
    height: 70%;
}

.winner {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Leichte Skalierung beim Hover */
}